<div class="card mb-3">
    <div class="card-body">
        <div class="d-flex gap-3">

            <div>
                {% include 'profile/_partials/_avatar.html.twig' with {'user': notification.author } %}
            </div>
            <div>
                <em>{{ notification.created|date }}</em>
                <br>
                <strong>{{ notification.message }}</strong>
            </div>

        </div>
        <hr>

        {% if notification.type == 'transaction' %}
            <div class="alert alert-info">
                <div>
                    {% include 'transaction/_partials/_card-header.html.twig' with {'transaction': notification.transaction, 'is_preview': 1} %}
                </div>
            </div>
        {% endif %}

        {% if notification.type == 'transaction_comment' %}
            <div class="alert alert-light">
                <div>
                    {% include 'transaction/_partials/_card-header.html.twig' with {'transaction': notification.transactionComment.transaction, 'is_preview': 1} %}
                </div>
            </div>
            <div class="alert alert-info">
                {{ notification.transactionComment.text | nl2br }}
            </div>
        {% endif %}


    </div>
</div>
