$alert-padding-y: .5rem;
@import "bootstrap/scss/bootstrap";

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";

@media (max-width: 600px){
  html, body {
    font-size: 14px;
  }

}

.avatar-badge {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.text-preview {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.avatar-badge-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}


.text-overflow {
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
}
.default-sized-block {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.notification-block {
}

.img-thumbnail-container {
  img {
    width: 200px;
    height: 200px;
    object-fit: contain;
  }
}