<div class="alert alert-info p-1">
    <div class="d-flex gap-3">

        {% include 'profile/_partials/_avatar.html.twig' with {'user': comment.author} %}
        <div class="flex-grow-1">
            <p class="mt-1">
                {{ comment.text | nl2br }}
            </p>

        </div>
    </div>

</div>
