{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <ul class="nav nav-tabs" id="dashboard-tabs">
        <li class="nav-item">
            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab-news">Niiuuus</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-users">Mit<b>glied</b>er</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-review-transactions">Offene Einträge</button>
        </li>
    </ul>
    <div class="tab-content p-2">
        <div class="tab-pane fade show active" id="tab-news">

            {% for notification in notification_service.latest %}
                {% include '_partials/_notification.html.twig' %}
            {% endfor %}
        </div>
        <div class="tab-pane fade" id="tab-users">
            <table class="table " style="table-layout: fixed">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Punkte</th>
                    <th>Need Approve</th>
                    <th>Aktionen</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>
                            {% include 'profile/_partials/_avatar.html.twig' %}
                        </td>
                        <td>
                            <div class="badge bg-success text-white fs-6 text-end" style="min-width: 5ch">
                                {{ score_service.calculate(user) }}
                            </div>
                        </td>
                        <td>

                            {% set needApprovment = user.transactions|filter(t => t.status == 'review')|length %}
                            {% if needApprovment > 0 %}

                                <strong class="badge bg-danger text-white">
                                    {{ user.transactions|filter(t => t.status == 'review')|length }}
                                </strong>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            <div class="d-flex gap-1">
                                <a href="{{ path('app_transaction', {'user': user.id}) }}" class="btn btn-info">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                                <a href="{{ path('app_transaction_create', {'user': user.id}) }}" class="btn btn-primary">
                                    <i class="fa-solid fa-plus-minus"></i>
                                </a>
                            </div>
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="tab-review-transactions">
            {% for transaction in reviewTransactions %}
                {% include 'transaction/_partials/_card.html.twig' with {'transaction': transaction} %}

            {% endfor %}

        </div>

    </div>
{% endblock %}
