{% extends 'base.html.twig' %}

{% block title %}Hello TransactionController!{% endblock %}

{% block body %}

    <h4>Einträge zu {{ user }}</h4>
    {% for transaction in transactions %}
        {% include 'transaction/_partials/_card.html.twig' %}
    {% endfor %}

    <a href="{{ path('app_transaction_create', {'user': user.id}) }}" class="btn btn-primary">Transaktion erstellen</a>
{% endblock %}
